<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    	xmlns:p="http://www.springframework.org/schema/p"  
    	xmlns:context="http://www.springframework.org/schema/context"  
    	xsi:schemaLocation="http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
		http://www.springframework.org/schema/context  
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
   <!--  <context:component-scan  base-package="Controller" /> 
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="" />  
        <property name="suffix" value=".jsp" />  
    </bean>  -->
  
		<context:component-scan base-package="com.hiber"></context:component-scan>

		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="jspViewResolver">
			 <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
			 <property name="prefix" value=""></property>       <!-- /WEB-INF/views/ -->
			 <property name="suffix" value=".jsp"></property>
		</bean>

		<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
			 <property name="driverClassName" value="${database.driver}"></property>
			 <property name="url" value="${database.url}"></property>
			 <property name="username" value="${database.user}"></property>
			 <property name="password" value="${database.password}"></property>
		</bean>

		<bean class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" id="sessionFactory">
		 <property name="dataSource" ref="dataSource"></property>

			 <property name="annotatedClasses">
			  <list>
			   <value>com.hiber.vo.InfoVO</value>
			    <value>com.hiber.vo.InfoDAO</value>
			  </list>
			 </property>
	
		 <property name="hibernateProperties">
			 <props>
			  <prop key="hibernate.dialect">${hibernate.dialect}</prop>
			  <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
			  <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}  </prop>    
			 </props>
		 </property>
		</bean>

	  <bean class="org.springframework.orm.hibernate3.HibernateTransactionManager" id="hibernateTransactionManager">
	 	<property name="sessionFactory" ref="sessionFactory"></property>
	  </bean> 
</beans>